solution/Workflows/Commit-BB143179-00AE-EC11-9840-000D3A9A8BD6.json
{
  "properties": {
    "connectionReferences": {
      "shared_github": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "mppce_sharedgithub_62f87"
        },
        "api": {
          "name": "shared_github"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "mppce_sharedcommondataserviceforapps_cffc1"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Repo Owner (mppce_repo_owner)": {
          "defaultValue": "microsoft-power-platform-ce",
          "type": "String",
          "metadata": {
            "schemaName": "mppce_repo_owner",
            "description": "Owner (organization / user) of the GitHub repository to commit changes to"
          }
        },
        "Repo Name (mppce_repo_name)": {
          "defaultValue": "src-integration-github",
          "type": "String",
          "metadata": {
            "schemaName": "mppce_repo_name",
            "description": "Name of the GitHub Repository to commit changes to"
          }
        },
        "Solution Name (mppce_solution_name)": {
          "defaultValue": "mppce_src_integration_github",
          "type": "String",
          "metadata": {
            "schemaName": "mppce_solution_name",
            "description": "Name of the solution being actively developed in the current environment."
          }
        },
        "Branch (mppce_branch)": {
          "defaultValue": "main",
          "type": "String",
          "metadata": {
            "schemaName": "mppce_branch",
            "description": "Name of the branch to commit solution changes to."
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "07c2cc74-c494-4faf-b9d9-dce90ffac8e0"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "Commit Message",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Message to appear in git commit history",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "Version Bump",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Solution version digit to bump (default: Revision)",
                  "x-ms-content-hint": "TEXT",
                  "enum": [
                    "Major",
                    "Minor",
                    "Build",
                    "Revision",
                    "Skip"
                  ]
                }
              },
              "required": [
                "text"
              ]
            }
          },
          "runtimeConfiguration": {
            "concurrency": {
              "runs": 1
            }
          }
        }
      },
      "actions": {
        "Dispatch_Commit_to_GitHub": {
          "runAfter": {
            "Get_Environment_URL": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "27d9e7f3-0540-4e01-9403-fdc85f8106a6"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_github",
              "operationId": "CreateRepositoryDispatchEvent",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_github"
            },
            "parameters": {
              "repositoryOwner": "@parameters('Repo Owner (mppce_repo_owner)')",
              "repositoryName": "@parameters('Repo Name (mppce_repo_name)')",
              "body/event_type": "commit",
              "body/client_payload": {
                "branch": "@{parameters('Branch (mppce_branch)')}",
                "environment_url": "@{variables('Environment URL')}",
                "message": "@{triggerBody()['text']}",
                "solution_unique_name": "@{parameters('Solution Name (mppce_solution_name)')}"
              }
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Get_Solution": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "f9c3f433-1c49-42ab-8473-bbdc4430fef0"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "solutions",
              "$select": "solutionid,version",
              "$filter": "uniquename eq '@{parameters('Solution Name (mppce_solution_name)')}'",
              "$top": 1
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Get_OData.Context": {
          "runAfter": {
            "Bump_Version_Check": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1f312625-0dd6-4096-8b5b-e1e95eb71874"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "OData.Context",
                "type": "string",
                "value": "@{outputs('Get_Solution')?['body/@odata.context']}"
              }
            ]
          }
        },
        "Get_Environment_URL": {
          "runAfter": {
            "Get_OData.Context": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fb1e8de4-f117-43e5-9951-271c5313be49"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Environment URL",
                "type": "string",
                "value": "@{substring(variables('OData.Context'), 0, indexOf(variables('OData.Context'), 'api/data/'))}"
              }
            ]
          }
        },
        "Get_Current_Solution_Version": {
          "runAfter": {
            "Get_Solution_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "038a343b-a74c-4818-8b67-7f87847ea328"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Solution Version",
                "type": "string",
                "value": "@{outputs('Get_Solution')?['body/value'][0]?['version']}"
              }
            ]
          }
        },
        "Get_Current_Major_Version": {
          "runAfter": {
            "Get_Current_Solution_Version": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f1b1451c-6a78-4fb4-b7f1-4d8e61cbed55"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Major Version",
                "type": "integer",
                "value": "@int(split(variables('Solution Version'), '.')[0])"
              }
            ]
          }
        },
        "Get_Current_Minor_Version": {
          "runAfter": {
            "Get_Current_Major_Version": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f1b1451c-6a78-4fb4-b7f1-4d8e61cbed55"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Minor Version",
                "type": "integer",
                "value": "@int(split(variables('Solution Version'), '.')[1])"
              }
            ]
          }
        },
        "Get_Current_Build_Version": {
          "runAfter": {
            "Get_Current_Minor_Version": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f1b1451c-6a78-4fb4-b7f1-4d8e61cbed55"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Build Version",
                "type": "integer",
                "value": "@int(split(variables('Solution Version'), '.')[2])"
              }
            ]
          }
        },
        "Get_Current_Revision_Version": {
          "runAfter": {
            "Get_Current_Build_Version": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "90c6bae3-734f-4bbc-ba8c-6ed8722fd4a0"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Revision Version",
                "type": "integer",
                "value": "@int(split(variables('Solution Version'), '.')[3])"
              }
            ]
          }
        },
        "Bump_Version_Check": {
          "actions": {
            "Switch_Version_Bump_Digit": {
              "runAfter": {},
              "cases": {
                "Major_Bump": {
                  "case": "Major",
                  "actions": {
                    "Minor_=_0": {
                      "runAfter": {
                        "Increment_Major": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Minor Version",
                        "value": 0
                      }
                    },
                    "Major_Bump_-_Build_=_0": {
                      "runAfter": {
                        "Minor_=_0": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Build Version",
                        "value": 0
                      }
                    },
                    "Major_Bump_-_Revision_=_0": {
                      "runAfter": {
                        "Major_Bump_-_Build_=_0": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Revision Version",
                        "value": 0
                      }
                    },
                    "Increment_Major": {
                      "runAfter": {},
                      "type": "IncrementVariable",
                      "inputs": {
                        "name": "Major Version"
                      }
                    }
                  }
                },
                "Minor_Bump": {
                  "case": "Minor",
                  "actions": {
                    "Minor_Bump_-_Build_=_0": {
                      "runAfter": {
                        "Increment_Minor": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Build Version",
                        "value": 0
                      }
                    },
                    "Minor_Bump_-_Revision_=_0": {
                      "runAfter": {
                        "Minor_Bump_-_Build_=_0": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Revision Version",
                        "value": 0
                      }
                    },
                    "Increment_Minor": {
                      "runAfter": {},
                      "type": "IncrementVariable",
                      "inputs": {
                        "name": "Minor Version"
                      }
                    }
                  }
                },
                "Build_Bump": {
                  "case": "Build",
                  "actions": {
                    "Increment_Build": {
                      "runAfter": {},
                      "type": "IncrementVariable",
                      "inputs": {
                        "name": "Build Version"
                      }
                    },
                    "Build_Bump_-_Revision_=_0": {
                      "runAfter": {
                        "Increment_Build": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Revision Version",
                        "value": 0
                      }
                    }
                  }
                },
                "Revision_Bump": {
                  "case": "Revision",
                  "actions": {
                    "Increment_Revision": {
                      "runAfter": {},
                      "type": "IncrementVariable",
                      "inputs": {
                        "name": "Revision Version"
                      }
                    }
                  }
                }
              },
              "default": {
                "actions": {}
              },
              "expression": "@variables('Version Bump')",
              "metadata": {
                "operationMetadataId": "b67e2ec4-43ff-4ef0-b309-55c351bcb6bc"
              },
              "type": "Switch"
            },
            "Combine_Bumped_Versions": {
              "runAfter": {
                "Switch_Version_Bump_Digit": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7c2605cf-52c4-4fa5-a259-fab4de12c841"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Solution Version",
                "value": "@{join(createArray(string(variables('Major Version')), string(variables('Minor Version')), string(variables('Build Version')), string(variables('Revision Version'))), '.')}"
              }
            },
            "Update_Solution_Version": {
              "runAfter": {
                "Combine_Bumped_Versions": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "59e92b2f-3bf2-4a00-b19c-6460fff6fa60"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "solutions",
                  "recordId": "@variables('Solution ID')",
                  "item/version": "@variables('Solution Version')"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            }
          },
          "runAfter": {
            "Get_Current_Revision_Version": [
              "Succeeded"
            ]
          },
          "expression": {
            "not": {
              "equals": [
                "@variables('Version Bump')",
                "Skip"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "b2eb9dbf-67ee-456e-9d4c-3905a46186cf"
          },
          "type": "If"
        },
        "Apply_Version_Bump_Default_(Revision)": {
          "runAfter": {
            "Get_Solution": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c57f6a5a-5235-4e9f-a9a4-ccb30a7eaabc"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Version Bump",
                "type": "string",
                "value": "@{coalesce(triggerBody()?['text_1'], 'Revision')}"
              }
            ]
          }
        },
        "Get_Solution_ID": {
          "runAfter": {
            "Apply_Version_Bump_Default_(Revision)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "51fce245-14da-4cad-a67d-b4cf34ffdea1"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Solution ID",
                "type": "string",
                "value": "@{outputs('Get_Solution')?['body/value'][0]?['solutionid']}"
              }
            ]
          }
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}